body{
    background-color: rgb(11, 11, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: white;
    margin: 0;
}

.icon-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 90%;
    background-color: #1e1e1e;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 8px 12px;

}

.search-box input{
    flex: 1;
    background : none;
    outline: none;
    border: none;
    padding: 8px 12px;
    color: white;
    /* font-size: 1rem; */
    font-size: large;
}

.search-box button{
    background-color: rgb(12, 0, 116);
    color:rgb(186, 254, 186);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: large;
    transition: 0.2s;
}

.search-box button:hover{
    cursor: pointer;
    background-color: rgb(17, 0, 167);
}

.result-container{
    margin-top: 30px;
    width: 500px;
    max-width: 90%;
    text-align: center;
    
}

#generated-image {
  width: 500px;
  height: 500px;
  object-fit: cover;   /* image crop hogi, stretch nahi */
  display: block;
}

.image-wrapper{
    position: relative;
    display: inline-block;
}

.icon-btns{
    position: absolute;
    top: 8px;
    right: 14px;
    display: flex;
    gap: 6px;
    transform: scale(1.3);
    
}

.icon-btns button
{
    background-color: rgb(240, 168, 0);
    opacity: 0.8;
    border-radius:4px ;
    font-size:20px ;
    border: none;
}
.icon-btns button:hover {
  transform: scale(1.3);
  border: none;
  border-radius: 6px;
}

.deleteImage:hover {
    background-color: red;
    cursor: pointer;
    
}

.downloadImage:hover {
    background-color: rgb(0, 232, 0);
    cursor: pointer;
}

.loading-text{

    margin-top:-20px;
    animation: blink 1s;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;

}

@keyframes blink {
    50% {opacity: 0.5};
}